[submodule "FaraBank"]
	path = FaraBank
	url = git@github.com:FaraBank/Workspace.git
	ignore = all
[submodule "PayamaX"]
	path = PayamaX
	url = git@github.com:PayamaX/Workspace.git
	ignore = all
[submodule "ShareToClipboard"]
	path = ShareToClipboard
	url = git@github.com:behzadian/ShareToClipboard.git
	ignore = all
