# Global Git Ignore
# Version 260604.1757
# Version 260604.1109
# Version 260604.1049

.*
.env
\!*/
bin/
obj/
!.github/
!.husky/
!.gitignore
!.dockerignore
!.editorconfig
!.gitattributes
!.workspace
!.version*
*.lscache
*.DotSettings.user
